.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: block;
}


.error-search {
  border: 5px solid #FF0000;

}